
<div class="container" >
 
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse" style="background:skyblue" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">Project name</a>
          </div>
          <div  class="navbar-collapse collapse" >
            <ul class="nav navbar-nav" >
              <li routerLinkActive="active"><a [routerLink]="['/inscCarrera']"> Inscripcion Carrera</a></li>
              <li routerLinkActive="active" ><a [routerLink]="['/cursos']" > Inscripcion a Asignatura</a></li>
              <li routerLinkActive="active"><a [routerLink]="['']"> Inscripcion Examen</a></li>
              <li routerLinkActive="active"><a [routerLink]="['']"> Consultar Calificacion</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
