<div class="jumbotron" style="background: aliceblue">

    <div class="example-config">
        <p class="font-weight-normal" style="color: dodgerblue">Ver previas</p>
    </div>
    
    <kendo-grid     
      [kendoGridBinding]="cursosGrid | async"
      [pageSize]="10"
      [pageable]="true"
      [sortable]="true"
      [filterable]="true"
      [loading]="loading"
      [resizable]="true"
      [selectable]="selectableSettings" 
      (selectionChange) = "change()"
      [kendoGridSelectBy]="mySelectionKey"
      [selectedKeys]="mySelection"
      [skip]="skip"
      (pageChange)="pageChange($event)"
      [height]="500"
      >
    <kendo-grid-column field="id" title="Codigo" width="130" [filterable]="false">
      </kendo-grid-column>
    <kendo-grid-column field="carrera.codigo" title="Codigo Carrera" width="130" [filterable]="false">
      </kendo-grid-column>
    <kendo-grid-column field="carrera.nombre" title="Carrera">
      </kendo-grid-column>
    <kendo-grid-column field="asignatura.codigo" title="Codigo Asignatura" width="130" [filterable]="false">
      </kendo-grid-column>
    <kendo-grid-column field="asignatura.nombre" title="Asignatura">
      </kendo-grid-column>
    <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
    </kendo-grid>
    
    <div class="row">
      <div class="col-sm-12 example-col">
        <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
          <button kendoButton (click)="verPrevias()">Ver previas</button>
          <button kendoButton [toggleable]="true"  (click)="cancelar()">Cancelar</button>
          </kendo-buttongroup>
      </div>
    </div>
    
  </div>