<!--(ngSubmit)="inscCarrerra(idUser, idCarrera)"-->

   <div>
      <h4 style="text-align: center; color: darkgray" >Seleccionar Carrera</h4>
    </div>
<table id="table1" class="table table-bordered">
    <!-- Table head -->
    <thead>
      <tr> 
        <th style="text-align: center">SELECCIONAR</th>       
        <th style="text-align: center">CODIGO</th>
        <th style="text-align: center">NOMBRE</th>
      </tr>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody style="align-content: center">
      <tr *ngFor="let carrera of carreras">
        <th scope="row">
          <!-- Default unchecked -->
          <div class="custom-control custom-checkbox">
              <input (change)="change($event, carrera.codigo)" type="checkbox" default="true">
          </div>
        </th>
        <td> {{carrera.codigo}} </td>  
        <td> {{carrera.nombre}} </td> 
        
      </tr>

    </tbody>
    </table>
        <!-- our form array of checkboxes will go here -->
        <button (click)="inscCarrerra()" mat-flat-button color="primary">Aceptar</button>

 
