<div class="jumbotron" style="background: aliceblue">
  
  <div class="example-config">
    <p class="font-weight-normal" style="color: dodgerblue">Listar Usuarios</p>
  </div>
  
  <kendo-grid     
      [kendoGridBinding]="usuarios | async" 
      [pageSize]="10"
      [pageable]="true"
      [sortable]="true"
      [filterable]="true"
      [resizable]="true"
      [loading]="loading"
      [selectable]="selectableSettings" 
      (selectionChange) = "change($event)"
      [height]="500"
  >
    <kendo-grid-column field="cedula" title="Cedula" width="80" >
      </kendo-grid-column>
    <kendo-grid-column field="nombre" title="Nombre">
      </kendo-grid-column>
    <kendo-grid-column field="apellido" title="Apellido">
      </kendo-grid-column>
    <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
  </kendo-grid>


</div>
  <div class="example-wrapper">
    <kendo-dialog title="Confirmar" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="200" [width]="350">
      <p style="margin: 30px; text-align: center; color: dodgerblue;" class="font-weight-normal">Datos de usuario</p>
      <p style="margin: 30px; text-align: center;"></p>
      <p style="margin: 30px; text-align: center;">Nombre: {{usuario.nombre}}</p>
      <p style="margin: 30px; text-align: center;">Apellido: {{usuario.apellido}}</p>
      <p style="margin: 30px; text-align: center;">Email: {{usuario.mail}}</p>
      <p style="margin: 30px; text-align: center;">Roles</p>
      <li *ngFor="let rol of roles">
        {{rol.id}} - {{rol.tipo}}
     </li>
      <kendo-dialog-actions>
        <button kendoButton (click)="action()" >Aceptar</button>  
      </kendo-dialog-actions>
  </kendo-dialog>


