<div class="jumbotron">
  <h2 class="display-3" class="font-weight-normal" style="color: black">Novedades!</h2>
  <p class="lead" class="font-weight-normal" style="color: black">Actualmente estamos desarrollando nuevas funcionalidades para el sistema de bedelias, por sugerencias escribe a desarrollo@miudelar.com.</p>
  <hr class="my-4">
  <p class="font-weight-normal" style="color: black">Para solicitar un nuevo rol de acceso se debe comunicar con el administrador de la institución.</p>
  <p class="lead"></p>
</div>