<div class="jumbotron" style="background: aliceblue">
  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Crear Asignatura</p>
  </div>
  <div class="col-xs-12 col-sm-12 example-col">
        <label class="k-form-fieldcontrol-label" style="text-align: left">
            <span>Codigo</span>
            <input  #codigo (keyup)=getCodigoIngresado(codigo.value) class="form-control" />
        </label>
  </div>

  <hr/> 
  <hr/>
  
  <div class="col-xs-12 col-md-12 example-col">
          <label class="k-form-fieldcontrol-label" style="text-align: left">
            <span>Nombre</span>
            <input  #nombre (keyup)=getNombreIngresado(nombre.value) class="form-control" />
        </label>
  </div>

  <hr/> 
  <hr/> 
  
  <div class="row">
  <div class="col-sm-12 example-col">
  <kendo-buttongroup  [selection]="'single'"  [width]="'100%'">
      <button kendoButton [toggleable]="true"  (click)="insgAsignatura()">Aceptar</button>
      <button kendoButton [toggleable]="true"  (click)="cancelar()">Cancelar</button>
  </kendo-buttongroup>
  </div>
  </div>

</div>