<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Asociar Rol</p>
  </div>

    
  <div class="example-config">
    <h4 class="font-weight-normal">Cedula : {{usuario.cedula}}  Nombre: {{usuario.nombre}}  {{usuario.apellido}}</h4>
  </div>

  <kendo-grid *ngIf="(rolUsuario)?.length > 0; else notShow" [data]="rolUsuario" [resizable]="true" [height]="370" style="width: 500px; ">
            <kendo-grid-column field="id" title="ID" width="40" [locked]="true">
            </kendo-grid-column>
            <kendo-grid-column field="tipo" title="Tipo" width="250" [locked]="true">
            </kendo-grid-column>
  </kendo-grid>
  <ng-template #notShow>
  <div  class="example-config">
    <p class="font-weight-normal" style="color: black ">El Usuario no tiene Roles asignados.</p>
  </div>
</ng-template>

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Seleccione Rol a Asignar</p>
  </div>

  <div  style="float: center">
    <div class="input-group"  style="float: center">
        <kendo-combobox
          [data]="rolMostrar"
          [textField]="'tipo'"
          [(ngModel)]="id"
          (valueChange)="ChangeRol($event)"
          [placeholder]="'Seleccione Rol'">    
        >
        </kendo-combobox>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button kendoButton [toggleable]="true"  (click)="asociarRol()">Aceptar</button>
        <button kendoButton [toggleable]="true"  (click)="cancelar()">Cancelar</button>
      </kendo-buttongroup>
    </div>
  </div>

</div>