<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Asociar Rol</p>
  </div>

    
  <div class="example-config">
    <h4 class="font-weight-normal">Usuario: {{usuarioM.nombre}}  {{usuarioM.apellido}} Cedula : {{usuarioM.cedula}}  </h4>
  </div>
  <div class="example-config" *ngIf="(roles)?.length > 0; else notShow" >
  <p style="margin: 30px; text-align: center;">Roles ya asignados</p>
      <li *ngFor="let rol of roles">
        {{rol.id}} - {{rol.tipo}}
     </li>
    </div>

  <ng-template #notShow>
  <div  class="example-config">
    <p class="font-weight-normal" style="color: black ">El Usuario no tiene Roles asignados.</p>
  </div>
</ng-template>

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Seleccione Rol a Asignar</p>
  </div>
<hr/>
<hr/> 
  
        <kendo-combobox style="float: center"
          [data]="rolMostrar"
          [textField]="'tipo'"
          [(ngModel)]="id"
          (valueChange)="ChangeRol($event)"
          [placeholder]="'Seleccione Rol'">    
        >
        </kendo-combobox>
   



  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button kendoButton [toggleable]="true"  (click)="asociarRol()">Aceptar</button>
        <button kendoButton [toggleable]="true"  (click)="cancelar()">Cancelar</button>
      </kendo-buttongroup>
    </div>
  </div>

</div>