mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    background: gainsboro;
    box-shadow: 1px;
  }
  .title{
    
    align-content: left;
    padding-left: 2%;
    border-width: 1px;
    border-color: black;
    margin-top: 3%;
    
  }