.back{
    background-image: url('../assets/background.jpg');
    background-position: center center;
    background-repeat: space;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightseagreen;
}