<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span ><a mat-button href="#"> Ingresar Carrera </a></span>
      <span ><a mat-button href="#"> Ingresar Asignatura a Carrera </a></span>
      <span ><a mat-button [routerLink]="['/']"> Definir Previas </a></span>
            
      <span class="example-fill-remaining-space"></span>
      <span>  <a mat-button [routerLink]="['/']"> Proyecto  </a></span>
    </mat-toolbar>
   
  </mat-sidenav-content>
</mat-sidenav-container>